@import './styles/reset.scss';

body, html{
  height: 100%;
  width: 100%;
}
#root{
  width: 100%;
  height: 100%;
  background: linear-gradient(356deg, rgba(254,180,2,0.3) 0%, rgba(0,244,255,0.3) 100%);
}